@model IEnumerable<WCFKOISTSTEM.SERVICE.Travel>

@{
    ViewBag.Title = "Home Page";
}
<main>
    <section class="row">
        <h2>Travel List</h2>
        <div>
            @Html.ActionLink("Create New Travel", "Create", null, new { @class = "btn btn-primary" })
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var travel in Model)
                {
                    <tr>
                        <td>@travel.Id</td>
                        <td>@travel.Name</td>
                        <td>@travel.Location</td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = travel.Id }) |
                            @Html.ActionLink("Edit", "Edit", new { id = travel.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = travel.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</main>
